.o-gallery {
	position: relative;
	padding: 10px;
	background-color: #333;
}

.o-gallery__wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.o-gallery__content {
	list-style: none;
	margin: 0;
	padding: 0;
}

.o-gallery__content--active {
	position: absolute;
	top: 0;
	transition: left 0.4s ease-in;
}

.o-gallery__slide {
	margin: 0;
}

.o-gallery__figure {
	margin: 0;
}

.o-gallery__image {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}

.o-gallery__caption {
	padding: 5px 0 10px;
	color: #fff;
	font-size: 14px;
	font-style: italic;
}

.o-gallery__control {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 30px;
	height: 70px;
	margin-top: -35px;
	border: 0;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgba(51,51,51,0.7);
	vertical-align: middle;
	cursor: pointer;
}

.o-gallery__control--left {
	left: 0;
	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-left?format=svg&source=origami&tint=%23ffffff,%23ffffff'), none;
}

.o-gallery__control--right {
	right: 0;
	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-right?format=svg&source=origami&tint=%23ffffff,%23ffffff'), none;
}
