.control {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 30px;
	height: 70px;
	margin-top: -35px;
	border: 0;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgba(51,51,51,0.7);
	vertical-align: middle;
	cursor: pointer;
}

.left {
	composes: control;
	left: 0;
	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-left?format=svg&source=origami&tint=%23ffffff,%23ffffff'), none;
}

.right {
	composes: control;
	right: 0;
	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-right?format=svg&source=origami&tint=%23ffffff,%23ffffff'), none;
}
