:global .body {
	margin: 0;
	padding: 0;
	background-color: #fff1e0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

:global .heading {
	font-family: Georgia, serif;
}

:global .container {
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
}
